# Database (Docker default)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=emotion_diary
DB_USER=admin
DB_PASSWORD=admin123

# JWT
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEsImVtYWlsIjoidGVzdEBtYWlsLmNvbSIsImlhdCI6MTc3NjQyNjc1OCwiZXhwIjoxNzc2NTEzMTU4fQ.RPFbKehRaNEuR7gEJQ0I3Ylp6IfLCyeSKg-gDgd3K1s
# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=emotion-diary-events

# Server
PORT=5001
GRPC_PORT=50051

# GigaChat
GIGACHAT_AUTHORIZATION_KEY=MDE5YTc4ZmUtZjNlNS03MDA5LWEyMjctZmFiODIxODUzN2U5OmQwYmQ3MDE5LWMzYTAtNDkwNC05NzYxLTUzZGM5NWYwM2ExMQ==
GIGACHAT_TLS_INSECURE=1
